body {
	padding: 0;
	margin: 0;
	background-color: #f8f9fa;
}
a {
  text-decoration: none;
  color: #424242;
}

header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.navigation-bar {
	width: 100%;
	box-shadow: 0px 0px 1px #c3c3c3;
	background-color: #ffffff;
}

.navigation-bar > .navigation-nav {
	max-width: 1000px;
	width: 100%;
	height: 70px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-start;
  align-items: center;
  position: relative;
}

.navigation-bar > .navigation-nav > a.logo {
  height: 100%;
}

.navigation-bar > .navigation-nav > a > img.logo {
	height: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	margin-left: 20px;
}

.navigation-bar > .navigation-nav > h1 {
	border-radius: 50px;
	margin: 0 0 0 10px;
	font-size: 1.4em;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.navigation-bar > .navigation-nav > a.user > i.navigation-user {
  display: inline;
  font-size: 1.7em;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.main-content {
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.settings > .search {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  padding: 50px 10px 10px 10px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
}

.settings > .search > h3 {
  position: absolute;
  top: 0;
  left: 0;
}

.settings > .search > form > input {
  display: block;
  width: 100%;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  padding: 5px;
}

.settings > .search > form > input.search-box {
  box-sizing: border-box;
  margin-bottom: 7px;
  border: 1px solid #dedede;
  outline: none;
  font-size: .9em;
  padding: 6px;
}

.settings > .search > form > input.submit-btn {
  color: #ffffff;
  border: 1px solid #bf360c;
  background-color: #bf360c;
  outline: none;
  transition: .3s all !important;
}

.settings > .search > form > input.submit-btn:hover {
  cursor: pointer;
  background-color: #dd2c00;
}

.main-content > .settings > .filters {
  background-color: #ffffff;
  border: 1px solid #efefef;
  width: 100%;
}

h3.box-title {
  width: 100%;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  margin: 0;
  font-weight: 500;
  padding: 10px 10px;
  color: #424242;
  box-sizing: border-box;
  background: #E4E4E4;
  background: linear-gradient(to bottom, #FEFEFE, #E4E4E4);
}

a.cat {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-decoration: none;
  padding: 10px 7px;
  color: #555555;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  transition: .3s all !important;
}

a.cat:hover {
  color: #2196f3;
}


a.cat:not(:last-child) {
  border-bottom: 1px solid #efefef;
}

a.cat > span.cat-avatar {
  grid-column: 1/2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

a.cat > span.cat-avatar > img {
  width: 20px;
  transition: .3s all !important;
}

a.cat > span.cat-title {
  grid-column: 2/8;
  display: flex;
  width: 100%;
  font-size: 0.85em;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0px;
}

a.cat > span.cat-counter {
  grid-column: 8/9;
  display: flex;
  font-size: 0.9em;
  align-items: center;
  justify-content: flex-end;
}

a.cat:hover,
a.cat.active {
  color: #dd2c00;
}

.main-content > .deals {
  /* background-color: #ffffff; */
  min-height: 500px;
}

.main-content > .deals {
  background-color: #ffffff; 
  border: 1px solid #efefef;
  height: fit-content;
  grid-column: 2/4;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.deals > a {
  text-decoration: none;
  color: #424242;
}

.deals > a > .deal {
  background: #ffffff;
  border: 1px solid #efefef;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
  min-height: 120px;
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  padding: 10px;
  transition: .3s all !important;
}

.deals > h3 {
  margin-bottom: 15px;
}

.deals > a > .deal:hover {
  box-shadow: 0 0 7px #e5e5e5;
}

.deals > a > .deal > .meta {
  display: flex;
  align-self: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: fit-content;
  font-family: 'Open sans', sans-serif;
  font-size: 0.9em;
}

.deals > a > .deal > .meta > span.avatar {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E4E4E4;
}

.deals > a > .deal > .meta > small {
  text-align: center;
  margin-top: 10px;
}

.deals > a > .deal > .meta > small > span.ref {
  color: #dc143c;
}

.deals > a > .deal > .meta > span.avatar > img {
  width: 60px;
  margin: 0;
  padding: 0;
}

.deals > a > .deal > .meta > p {
  width: fit-content !important;
}

.deals > a > .deal > .detail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.deals > a > .deal > .detail > h4 {
  margin: 0 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: .9em;
}

.deals > a > .deal > .detail > p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 10px;
  font-size: 0.9em;
  margin-bottom: 50px;
}

.deals > a > .deal > .detail > small {
  position: absolute;
  left: 10px;
  bottom: 5px;
  font-family: 'Open Sans', sans-serif;
}

@media screen and (max-width: 1030px) {
  .main-content {
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .deals > a > .deal {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 720px) {
  .main-content > .deals {
    grid-column: auto;
  }

  .main-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .navigation-bar > .navigation-nav > h1 {
    display: none;
  }

  .navigation-bar > .navigation-nav > i.navigation-user {
    display: inline;
  }

  .navigation-bar > .navigation-nav > a > img.logo {
    margin-left: 0;
  }

  .navigation-bar > .navigation-nav {
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}